.row-header{
    margin:0px auto;
    padding:0px;
}

.circle {
    border-radius: 50%;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.footer{
    background-color: #03045E;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color: white;
}

.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background-color: #90e0ef;
    color:floralwhite;
    font-size: large;
    font-family: serif;
}

#logo-main {
    display: block;
    margin: 20px auto;
  }

.navbar-me {
    background-color: #ffffff;
    border: none;
    text-align: center;
    color: black;
}

.navbar-nav { 
    width: 100%;
    text-align: center;
}

.proyectos{
    background: #ffffff;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 300px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    height: 200px;
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: #90E0EF;
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #2c2e2c;
    font-size: 12px;
    text-align: justify;
    padding: 5px 30px 5px 30px;
}


main{
    padding: 50px 0px 0px 0px;
    z-index: 0;
    font-family: serif;
}
header{
    font-family: serif;
    background-color: white;
}
